/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font : 'Roboto', sans-serif;
  --text : #fff;
  --primary-color: #293B5F;
  --btn-coor: #cc4b37;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


h3{
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text);
  margin-top: 33px;
}


/* Container Section */
.container-section{
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: var(--font);

}


/* Navbar */
.navbar-section{
  background-color: var(--primary-color);
  color: var(--text);
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  z-index: 10000000000;
}

.navbar-section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.navbar-section li{
  margin: 0 25px;
}

.navbar-section a{
  text-decoration: none;
  color: var(--text);
  letter-spacing: 2px;
}

.navbar-section a:hover{
  color: var(--btn-coor)
}

.navbar-section h1{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--text);
  margin-left: 50px;
}


/* Home Section */
.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vh;
}

.home-content h2{
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 20px;

}

.profile-img{
  margin: 2rem 0;
  background-image: url('/assets/images/img.jpeg');
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
}

.typity {
  background-position: 0% 100%;
  border-bottom: 3px solid #d50000;
  box-sizing: border-box;
  color: var(--text);
  font-size: 2rem;
  padding-right: 2px;
  position: relative;
  transition: background-position 1s;
}

.typity::after {
  animation: blink-cursor 0.75s step-end infinite;
  background-color: transparent;
  content: "";
  display: block;
  height: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
}

.typity.highlight {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 2rem;
}

.typity.highlight::after {
  animation: none;
}

.cta .cta-button {
  color: var(--btn-coor);
  text-transform: uppercase;
  border: 2px solid rgba(255, 103, 68, 0.91);
  border-radius: 50px;
  background: var(--primary-color);
}

.cta .cta-button:hover, .cta .cta-button:focus {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 103, 68, 0.91);
  color: white;
}

.my-button {
  font-size: 1em;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border-radius: 45px;
  height: auto;
  padding: .8em 2.1em;
}

.my-button:hover {
cursor: pointer;
padding: .8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
background-image: none;
outline: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}


/* About Section */
.about-container{
  background-color: var(--text);
}
.about-section{
  max-width: 80vw;
  margin: 8rem auto 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box{
  position: relative;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 450px;
  background-image: linear-gradient(to right top, #051937, #0e2d5a, #184380, #225ba8, #2c73d2);
  border-radius: 20px;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20),
  0 15px 12px rgba(0, 0, 0, 0.15);
  transition: all 100ms ease-out;
}

.about-box h3{
  color: var(--text);
  font-size: 2.2rem;
  font-weight: 600;
  transform: translateZ(40px);
}

.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content h4{
  margin-top: 22px;
  color: var(--text);
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 6px;
}
.about-content p{
  margin-top: 4rem;
  font-size: 1.4rem;
  max-width: 30vw;
  color: var(--text)
}

.circle{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.circle span{
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 25px;
  background: var(--text);
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
  transform: translateZ(40px);
}




/* Skills section */
.skills-section{
  background-color: var(--text);
}

.skills h4{
  margin: 1rem auto;
  color: #000;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 6px;
  font-weight: 700;
}

.skills .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  margin: 3rem .5rem;
  /* transition: box-shadow .7s ease; */
}

.skills .services:hover {
  box-shadow:  0px 10px 30px rgba(51, 49, 56, 0.205);
}



/* Project Section */
.projects-section{
  background-color: var(--text);
}

.projects{
  max-width: 74vw;
  margin: 2rem  auto 0 auto;
}

.project-content h4{
  color: #000;
  font-size: 3rem;
  letter-spacing: 6px;
  font-weight: 700;
}


/* Hamburger */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-image: linear-gradient(to right top, #16141e, #14141e, #13131e, #11131e, #0f131e, #101420, #101622, #101724, #131a29, #171d2e, #1b1f32, #1f2237);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;

}

.navbar-section li{
  margin: 3rem 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.about-section{
  flex-wrap: wrap;
}

}





.social-icon{
  position: absolute;
  top: -20vh;
  left: -15vw;
  display: flex;
  flex-direction: column;
}

.bxl-github, .bxl-linkedin-square, .bxl-twitter, .bxl-instagram,.bxl-codepen{
  padding: 10px 14px;
  margin: 18px 0;
  color:var(--text);
}

.container{
  text-align: center;
}



@keyframes blink-cursor {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: black;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .typity {
    border-bottom: 2px solid red;
  }
}